---
# Replace the codename to next LTS version

- name: Replace the codename — Debian 10 to 11
  when:
    - ansible_facts.distribution == 'Debian'
    - ansible_facts.lsb.major_release | int == 10
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: buster
    replace: bullseye

- name: Replace the codename — Debian 11 to 12
  when:
    - ansible_facts.distribution == 'Debian'
    - ansible_facts.lsb.major_release | int == 11
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: bullseye
    replace:

- name: Replace the codename — Debian 12 to 13
  when:
    - ansible_facts.distribution == 'Debian'
    - ansible_facts.lsb.major_release | int == 12
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: bookworm
    replace: trixie

- name: Replace the codename — Ubuntu 18 to 20
  when:
    - ansible_facts.distribution == 'Ubuntu'
    - ansible_facts.lsb.major_release | int == 18
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: bionic
    replace: focal

- name: Replace the codename — Ubuntu 20 to 22
  when:
    - ansible_facts.distribution == 'Ubuntu'
    - ansible_facts.lsb.major_release | int == 20
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: focal
    replace: jammy

- name: Replace the codename — Ubuntu 22 to 24
  when:
    - ansible_facts.distribution == 'Ubuntu'
    - ansible_facts.lsb.major_release | int == 22
  ansible.builtin.replace:
    path: /etc/apt/sources.list
    regexp: jammy
    replace: noble
