name: Main

on:
  push:
    branches: [main]
    tags: [v*.*.*]
  pull_request:
    branches: [main]

permissions:
  contents: read

env:
  ANSIBLE_COLLECTIONS_PATH: ~/.ansible/collections
  ANSIBLE_HOME: ~/.ansible
  MOLECULE_PARALLEL: "1"
  PY_COLORS: "1"

jobs:
  lint-py:
    name: Lint Python code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Lint code
        run: make lint-py

  lint:
    name: Lint Ansible code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache ansible requirements
        id: cache-reqs
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: reqs-${{ runner.os }}-${{ hashFiles('requirements.yml') }}
          path: ${{ env.ANSIBLE_COLLECTIONS_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Install requirements
        if: steps.cache-reqs.outputs.cache-hit != 'true'
        run: uv run ansible-galaxy install -r requirements.yml

      - name: Lint code
        run: uv run ansible-lint

  changes:
    name: Detect changed scenarios
    permissions:
      pull-requests: read
    runs-on: ubuntu-latest
    outputs:
      discover: ${{ steps.filter-edited.outputs.changes }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Check for file changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: .github/file-filters.yml

      - name: Filter out `shared` group; If no changes detected, return `hello_world` scenario
        id: filter-edited
        run: |
          JSON=$(echo "${CHANGES}" | jq -c 'map(select(. != "shared"))')

          if [[ $JSON == '[]' ]]; then
              JSON='["plugins/tests/molecule/hello_world"]'
          fi

          echo "changes=$JSON" >> $GITHUB_OUTPUT
        env:
          CHANGES: ${{ steps.filter.outputs.changes }}

  test:
    name: Tests
    needs: [changes]
    strategy:
      fail-fast: false
      matrix:
        molecule-distro: [debian13]
        molecule-discover: ${{ fromJSON(needs.changes.outputs.discover) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cache ansible requirements
        id: cache-reqs
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          key: reqs-${{ runner.os }}-${{ hashFiles('requirements.yml') }}
          path: ${{ env.ANSIBLE_COLLECTIONS_PATH }}

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --frozen

      - name: Install requirements
        if: steps.cache-reqs.outputs.cache-hit != 'true'
        run: uv run ansible-galaxy install -r requirements.yml

      - name: Run tests
        run: make test DRIVER=docker DISCOVER=${MOLECULE_DISCOVER}
        env:
          MOLECULE_DISTRO: ${{ matrix.molecule-distro }}
          MOLECULE_DISCOVER: ${{ matrix.molecule-discover }}

  galaxy-deploy:
    name: Release to Ansible Galaxy
    if: github.ref_type == 'tag'
    needs: [lint-py, lint, test]
    environment:
      name: galaxy
      url: https://galaxy.ansible.com/ui/repo/published/deadnews/util
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set version in galaxy.yml
        run: |
          sed "s|^version:.*$|version: ${GITHUB_REF_NAME#v}|" -i galaxy.yml

      - name: Upload collection to Ansible Galaxy
        uses: ansible/ansible-publish-action@a56a0328c92c1d4feedf5bd7f7cf7ec7a4ae3f09 # v1.0.0
        with:
          api_key: ${{ secrets.GALAXY_API_KEY }}

  github-deploy:
    name: Release to GitHub
    if: github.ref_type == 'tag'
    needs: [lint-py, lint, test]
    environment: github-releases
    permissions:
      contents: write
    env:
      CHANGELOG: https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md
      PRERELEASE: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Create GitHub Release
        run: |
          gh release create ${GITHUB_REF_NAME} \
            --title ${GITHUB_REF_NAME} \
            --notes="See [the CHANGELOG](${CHANGELOG}) for more details." \
            --draft=${PRERELEASE} \
            --prerelease=${PRERELEASE}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
